{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>{{proveedor.nombre}}</h1>
        </div>
        <h4>Teléfono: {{proveedor.telefono}}</h4>
    </div>
    

    <div class="container">
        <br/>
        
        <table class="sortable table table-hover" id="tablaProductos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Fecha de cotización</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr class="link_fila">
                        <td>
                            <a href="{% url 'cotizaciones:producto' producto.producto.id %}">{{ producto.producto.id }}</a>
                        </td>
                        <td>{{producto.producto}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.producto.cantidad}}</td>
                        <td>{{producto.fecha_modificacion}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="sortable table table-hover" id="tablaServicios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Lugar</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                    <tr class="link_fila">
                        <td>
                            <a href="{% url 'cotizaciones:producto' producto.id %}">{{ producto.id }}</a>
                        </td>
                        <td>{{servicio.servicio}}</td>
                        <td>{{servicio.precio}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}