{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todos los servicios</h1>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <a href="{% url 'cotizaciones:registrar_servicio' %}" class="btn btn-success" style="float:right;">Crear nuevo</a>
        </div>
        <br/>
        <table class="sortable table table-hover" id="tableCotizaciones">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                    {%if servicio.is_active %}
                        <tr class="link_fila">
                            <td>
                                <a href="{% url 'cotizaciones:servicio' servicio.id %}">{{ servicio.id }}</a>
                            </td>
                            <td>{{servicio.nombre}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content%}
