{% extends "base.html" %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Todas las clientes</h1>
        </div>
    </div>

    <div class="container">
        <table class="sortable table table-hover" id="tableContactos">
            <thead>
                <tr>
                    <th class="table-head"><a href="#">RFC</a></th>
                    <th class="table-head"><a href="#">Nombre</a></th>
                </tr>
            </thead>
            <tbody id="tabla_clientes">
                {% for cliente in clientes_list %}
                    {% if cliente.is_active %}
                        <tr class="link_fila">
                            <td><a href="{% url 'empresas:cliente' cliente.slug %}">{{ cliente.rfc }}</a></td>
                            <td>{{ cliente.nombre }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $('#txt_search_clientes').keyup(function(){
            var texto;
            texto = $(this).val();
            $.get("{% url 'empresas:search_clientes' %}", {'texto' : texto}, function(data) {
                $('#tabla_clientes').html(data);
            });
        });
    </script>

{% endblock content%}